@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #012030;
  --gap: 16px;
  --dark: #012030;
  --main: #13678A;
  --accent: #45C4B0;
  --light: #9AEBA3;
  --lighter: #DAFDBA;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000f16;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.snapper {
  scroll-behavior: smooth;
}

.main-layout, .about-layout {
  height: 100svh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--gap) var(--gap);
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-card.bg-dark {
  grid-area: 1 / 1 / 2 / 2 ;
}
.main-card.bg-main {
  grid-area: 1 / 2 / 3 / 3 ;
}
.main-card.bg-accent {
  grid-area: 1 / 3 / 4 / 4 ;
}
.main-card.bg-light {
  grid-area: 1 / 4 / 5 / 5 ;
}
.main-card.bg-lighter {
  grid-area: 1 / 5 / 6 / 6 ;
}

.title {
  grid-area: -1 / 1 / -2 / 4 ;
}

.about-card.title {
  grid-area: 2 / 2 / 4 / 4 ;
}

.about-card.bg-main {
  grid-area: 2 / 4 / 4 / 5 ;
}
.about-card.bg-dark {
  grid-area: 4 / 2 / 5 / 3 ;
}
.about-card.bg-light {
  grid-area: 4 / 3 / 5 / 4 ;
}
.about-card.bg-lighter {
  grid-area: 4 / 4 / 5 / 5 ;
}
/* Ensure card has rounded corners and hides overflow */
.go-back-card {
  position: relative;
  width: 100%;  /* Use full width of the grid cell */
  height: 100%; /* Use full height of the grid cell */
  overflow: hidden;  /* Prevent content from overflowing */ 
}

.stripes {
  position: absolute;
  width: 100%;
  height: 5px; 
  left: 0;
  /* transition: transform 1s ease-in-out; */
}

/* Positioning the stripes */
.stripes-1 { bottom: -10px; }
.stripes-2 { bottom: -30px; }
.stripes-3 { bottom: -60px; }

.go-back-card:hover .stripes {  
  animation: back-lines 600ms ease-in-out forwards 1 ;
}

/* Keyframe for moving stripes up */
@keyframes back-lines {
  0% {
    transform: translateY(0); /* Start at the normal position */
  }
  100% {
    transform: translateY(-500px); /* Move up by a significant amount (can adjust) */
  }
}

/* Color Theme Swatches in Hex */
.text-dark { color: var(--dark); }
.text-main { color: var(--main); }
.text-accent { color: var(--accent); }
.text-light { color: var(--light); }
.text-lighter { color: var(--lighter); }

.bg-dark { background: var(--dark); }
.bg-main { background: var(--main); }
.bg-accent { background: var(--accent); }
.bg-light { background: var(--light); }
.bg-lighter { background: var(--lighter); }